# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# SQL and database
*.sqlite3
*.db

# VS Code settings (optional)
.vscode/

# System files
.DS_Store
Thumbs.db